target/release/*
target/debug
target/.rustc_info.json
target/CACHEDIR.TAG
Cargo.lock
actix_server/static*
production_data/*
!production_data/prepare_data.sh
!production_data/*.tar.xz
!target/release/stellarust.exe
!target/release/stellarust