.App {
  text-align: center;
}

ul {
  list-style: none;

}

.list_group {
  display: inline-flex;
  flex-direction: column;
}

.list_group_item {
  background-color: darkslategray;
  flex: 1;
  border: none;
  padding: 15px 32px;
  margin: 4px 2px;
}

.button {
  color: white;
  text-decoration: none;
}

.button_title {
  font-size: xx-large;
}

.button_subtitle {
  font-size: large;
}